@font-face{
  font-family: 'ChampagneSocialist';
  src: url('fonts/ChampagneSocialist-Variable.ttf') format("truetype-variations");
  font-weight: 1 999;
}

.split {
  height: 100%;

  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left{
  left: 0;
  width: 34%;
}

.right{
width: 66%;
right: 0;

}

body{
  background-color:whitesmoke;
  cursor: url(assets/black.png), pointer ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'ChampagneSocialist';

  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}

.h {
  font-size: clamp(18px,1.7vw,42px);
  text-align: left;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-variation-settings: "wght" 1;
  transition: font-variation-settings 0.3s ease;
}

.h:hover{
  /* font-variation-settings: "wght" 1; */
}

h1{
  font-size: clamp(14px,1.389vw,32px);
  font-weight: 1;
  text-align: left;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h2{
  text-align: left;
  font-size: clamp(12px,1.25vw,28px);
  font-weight: 1;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  text-align: left;  
  font-size: clamp(11px,1.1vw,24px);
  font-weight: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 130%;
}

.center{
  text-align: center; 
}

.sampler {
  text-align: center;  
  display:inline-block;
  font-size: 120px;
  font-weight: 1;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 100px;
  width: 90%;
  max-width: 1500px;
}

.sampler-bottom {
  text-align: center;  
  display:inline-block;
  font-size: 120px;
  font-weight: 1;
  padding-top: 20px;
  padding-bottom: 70px;
  padding-left: 5%;
  padding-right: 100px;
  width: 90%;
}

[contenteditable="true"]:focus{
  outline: none;
}

[contenteditable]:hover{
  transition: color ease 0.2s;
  color: blue;
  cursor: url(assets/blue.png), pointer;
}

a {
  text-align: left;  
  display:inline-block;
  font-size: clamp(12px,1.25vw,28px);
  /* z-index: 1; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 130%;
  color: black;
  text-decoration: none;
  cursor: url(assets/black.png), pointer ;

  font-variation-settings: "wght" 1;
  transition: font-variation-settings 0.3s ease;
}

a:hover{
  color: blue;
  cursor: url(assets/blue.png), pointer;
  /* font-variation-settings: "wght" 1; */
}

.bottom_space{
  padding-bottom: 55px;
}

.right_bottom{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.imageHolder {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.image {
  text-align: center;
  position: relative;
  display: inline-block;
}
.image .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.image:hover .img-top {
  display: inline;
}

.typeSampler{
  padding-bottom: 100px;
}

#wrap { width: 650px; height: 650px; padding: 0; overflow: hidden; text-align: center; margin-left: auto; margin-right: auto;}
#frame { width: 1000px; height: 1000px; border: 0px solid black;  text-align: center; margin-left: auto; margin-right: auto; }
#frame {
    -ms-zoom: 0.65;
    -moz-transform: scale(0.65);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.65);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.65);
    -webkit-transform-origin: 0 0;
}

.vl {
  border-left: 2px solid black;
  height: fit-content;
  position: absolute;
}

.line {
  border-bottom: 2px solid black;
  display: block;
}

a img { display:none; }
a:hover img { display:block; }

@keyframes variable-animation{
  from{font-weight: 1; }
  to { font-weight: 999; }
}

.variable-animation {
  text-align: center;  
  display:inline-block;
  font-weight: 1;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 100px;
  width: 90%;
  
  transition: 0.3s ease;
  animation-name: variable-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

ul,
li {
  list-style: none;
 padding: 0;
  margin: 0;
} */

 a, 
a:hover, 
a:visited, 
a:active{
  color: black;
  text-decoration: none;
}